*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Abyssinica SIL', sans-serif;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffffff;
	height: 10vh;
	margin: 10px;

}

.logotipo-titulo{
	display: flex;
	flex-direction: row;
	align-items: center;

}

.imagen1{
	background-image: url("../img/1_6q9LiO1BbgxGYoSuI3q7yg.ico");
	clip-path: circle(47% at 50% 50%);
	height: 80px;
	width: 80px;
    background-position: center;
    background-size: cover;
}

.titulo{
	margin: 10px;
	align-items: center;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
	align-items: center;


}

.letra:hover{
	opacity: 100%;
}

.letra{
	opacity: 40%;
	font-size: 25px;
	margin: 10px;
	align-items: center;
}

.section-portada{
	display: flex;
	flex-direction: column;
	justify-content: end ;
	align-items: start;
	height:  88vh;
}


.l-donald{
	width: 100%;
	text-align: center;
	font-size: 100px;
	color: #000000;

}

.s-img{
	display: flex;
	width: 100%;

}

.img-portada{
	width: 57%;
}

.s-norman{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.l-norman{
	font-size: 70px;
	color: #444335;
	background-color: #E5D94F;
	padding: 5px;
}

.l-frase{
	font-size: 25px;
	padding: 15px;
}

.section-datos{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 30px;
	background-color: #ffffff;
}

.info{
	display: flex;
	flex-direction: column;

	width: 15%;
}
.img-datos{
	max-height: 300px;
	max-width: 300px;

}

.s-barra{
	display: flex;
	flex-direction: row;
}
.barra{
	width: 20%;
	background-color: #E5D94F;	
}

.texto{
	padding-top: 15px;
	padding-left: 15px;
}

.section-principios{
	display: flex;
	gap: 10%;
	background-color: #000;
	width: 100%;
	height: 105vh;
}

.p-img{
	padding-left: 5%;
}

.letra1{
	font-size: 25px;
	align-items: center;
	color: #fff;
}
li{
	margin: 8%;
	margin-left: 5%;
	margin-bottom: 8%;
	
}

.c-principios{
	position: relative;
}

.l-principios{
	position: relative;
	top: -4%;
	font-size: 35px;
	color: #444335;
	background-color: #E5D94F;
	padding: 2%;
}

.section-biografia{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	height: 100vh;
	width: 50%;
	position: relative;
	left: 25%;
}

.sect{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.section-1{ 
	display: flex;
	flex-direction: row;
	margin: 8%;
}

.parte-1{
	display: flex;
	flex-direction: column;
}

.parte-1.2{
	display: flex;
	flex-direction: row;
}
}

.cuadroA{
	background-color: #E5D94F;
}

.img1-bio{
	width: 50%;
}

.img2-bio{
	max-width: 100px;
	margin: 5%;
}

.section-2{
	display: flex;
	flex-direction: row;
	margin: 8%;
}


.parte-2{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.parte-3{
	display: flex;
	flex-direction: row;
	width: 50%;
}

.img-bio{
	display: flex;
	flex-direction: row;
}

.l-amarilla{
	width: 10%;
	background-color: #E5D94F;
	margin: 5%;
}

.section-final{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 10%;
	background-color: #000;
	width: 100%;
	height: 30vh;
	margin-top: 20px;
	justify-content: center;
}

.logo-titulo{
	display: flex;
	height: 30%;
}

.solicita{
	font-size: 20px;
	color: white;
}

.enviar{
	width: 50%;
	height: 10%;
	color: #000;
    font-size: 1.1em;
    width: 315px;
    padding: 12px;
    background-color: #ffffff;
	border-color: #ffffff;
}

.boton{
    background-color: #E5D94F;	
	border-color: #E5D94F;
    width: 50%;
    height: 57%;
}

.boton-ejemplo{
	display: flex;
	flex-direction: row;
}

.fin{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 80%;
	height: 40%;
}

.iconos{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

.ico{
	height: 30%;
	margin: 10px;
}