*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenido{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	font-family: 'hey lovely';
}


header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: cemter;
	background-color: #d3d3d3;
	flex: 1 1 5%;
	padding: 15px;
}

.logotipo-titulo{
	display: flex;
	flex-direction: row;
	align-content: center;
}

.imagen1{
	height: 60px;
	width: 60px;
	background-color: black;
	border-radius: 10px;
	margin-right: 10px;
}

.letra{
	margin: 10px;
	font-size: 25px;
}

nav{
	display: flex;
	flex-direction: row;
	align-items: center;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 95%;
}

.contenedor{
	display: flex;
	flex-direction: column;
	background-color: black;
	height: 85%;
	width: 70%;

}

.blq1{
	display: flex;
	flex-direction: row ;
	width: 45%;
	height: 45%;
}

.blq2{
	display: flex;
	flex-direction: row ;
	width: 45%;
	height: 45%;
}

@media(max-width:1000px)(

)
	
