/*https://www.youtube.com/watch?v=Iaw9rFopXPY*/

*{
	margin: 0;
	padding: 0;

}

body{
	margin: 0;
	font-family: Arial;
}

.contenedor{
	height: 100vh;
	background-image: url(../img/pexels-antoni-shkraba-4348401.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.contenido{
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: absolute;
	width: 100%;
}

.filtro{
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.6;
	position: absolute;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1% 3% 0 3% ;
	margin: 5px;
	
}

header{
	height: 70px;
	flex: 1 1 5%;
}



nav div{
	font-size: 14px;
	height: 50px;
}

.logo{
	width: 20%;
}

.carrito{
	width: 20px;
	height: 20px;

}

.titulo{
	display: flex;
	align-items: center;
	gap: 20px;
}

.boton{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 50px;
	gap: 20px;
}

.b1{
	padding: 10px;
    text-decoration: none;
    background-color: #f02d00;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    width: 100px;

}

.b2{
	padding: 5px;
    text-decoration: none;
}

section{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center ;
	align-items: flex-start;
	padding-left: 80px;
	flex: 1 1 95%;
}

.t1{
	font-size: 40px;
	text-shadow: 3px 3px 3px #AEAEAE;
}

.t2{
	font-size: 20px;
	text-shadow: 3px 3px 3px #AEAEAE;
}
.t3{
	text-align: center;
	font-size: 15px;
	color: #000;
	width: 150px;
    text-decoration: none;
}

.t4{
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 150px;
    text-decoration: none;
    background-color: #f02d00;
    color: #fff;
    border-radius: 3px;
}


.reg{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	gap: 40px;
}


nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	gap: 20px;
}

.texto-central{
	width: 30%;
}

dialog{
	width: 60%;
	height: 75%;
	margin: auto;
	border: 3px;
}

dialog::backdrop {
	background: rgba(234, 206, 227, 0.9);
}

.t-modal{
	border-radius: 5px;
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.mujer{
	width: 50%;
	background-image: url(../img/imagenDomestika_1.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.dome{
	height: 100px;
	width: 300px;
	background-image: url(../img/logoDomestika.png);
	background-position: center;
	background-size: cover;
}



.m-doble{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-close{
	position: absolute;
	top: 20px;
	right: 25px;
	width: 20px;
	height: 20px;
}

.tf{
	text-align: center;
	font-size: 15px;
	margin: 30px;
	padding: 15px;
	height: 20px;
	width: 250px;
    text-decoration: none;
    background-color: #0A88FF;
    color: #fff;
    border-radius: 3px;
}

.face{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.registro{
	display: flex;
	background-color: #D6DBE3;
	flex-direction: column;
	justify-content: space-evenly;
	padding-bottom: 0;
	padding: 20px;
	height: 70%;
}

#email{
	height: 55px;
	border-radius: 0;
	border: solid #E9E9E9;
}

#lang{
	height: 40px;
	width: 80px;
	border-radius: 0;
	border: solid #E9E9E9;
	margin: 10px;
}
#lang1{
	height: 40px;
	width: 110px;
	border-radius: 0;
	border: solid #E9E9E9;
	margin: 10px;
}

.cumpleaños{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.l-cumple{
	width: 40%;
	font-size: 10px;
	color:#999999;
}

.crearboton{
	color:#737373;
	width: 20%;
	font-size: 16px;
	height: 8%;
	border: 0;
}

.l-fin{
	width: 100%; 
	color:#999999;
	font-size: 12px;
}

.l-entrar{
	padding: 20px 0;
	width: 100%; 
	color:#000;
	font-size: 16px;
}



div p{
	text-align: center;
	width: 50%;
	font-size: 15px;
}
div h2{
	font-size: 20px;
}

