* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 20%;

    width: 100vw;
    
    padding: 5px;

    background-color: #F1DCDC;

    box-shadow: 2px 0px 5px grey;
}



.classroom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15%;

    font-size: 200%;
}

.l-clas{
    padding-top: 4%;
}

.img1-clas{
    
    width: 60px;
    height: 60px;
    background-image: url(../img/presente.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 30%;

    gap: 10%;
}

.buscador{
    width: 17%;
    height: 45px;
    border-radius: 20px;
    background-color: rosybrown;

    padding: 10px;
}

.img2-buscar{
    width: 7%;
}

.modo-escritorio{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80vh;

    font-size: 50px;
}

.escritorio{
    position: absolute;
    opacity: 1;
}
.tablet{
    position: absolute;
    opacity: 0;
}
.movil{
    position: absolute;
    opacity: 0;
}


@media (max-width: 1300px) {
   
    .img1-clas{
        background-image: url(../img/menu.png);
        background-size: cover;
        background-position: center;
    }

    .navegador{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        height: 94vh;
        bottom: 0px;
        left: 0px;
        margin: 0;
        padding: 0;

        font-size: 30px;

        background-color: rosybrown;

        z-index: 1;
        margin: 0;
        clip-path: circle(0% at 0% 0%);
        transition: all 1.5s ease;

    }

    .mostrar{
        clip-path: circle(150% at 0% 0%);
    }

    .classroom{
        width: 20%;
    }

    .buscador{
        width: 30%;
    }
    .escritorio{
        position: absolute;
        opacity: 0;
    }
    .tablet{
        position: absolute;
        opacity: 1;
        z-index: 0;
    }
    .movil{
        position: absolute;
        opacity: 0;
    }
    

}

@media (max-width: 1300px) {
    .classroom{
        width: 30%;
    }

    .buscador{
        width: 30%;
    }
}

@media (max-width: 700px) {
   
    .img1-clas{
        background-image: url(../img/menu.png);
        background-size: cover;
        background-position: center;
    }

    .navegador{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        height: 94vh;
        bottom: 0px;
        left: 0px;
        margin: 0;
        padding: 0;

        font-size: 30px;

        background-color: rosybrown;

        z-index: 1;
        margin: 0;
        clip-path: circle(0% at 0% 0%);
        transition: all 1.5s ease;

    }

    .mostrar{
        clip-path: circle(150% at 0% 0%);
    }

    .classroom{
        width: 40%;
    }

    .buscador{
        width: 40%;
    }
    .escritorio{
        position: absolute;
        opacity: 0;
    }
    .tablet{
        position: absolute;
        opacity: 0;
        z-index: 0;
    }
    .movil{
        position: absolute;
        opacity: 1;
    }
    
    .caja-buscar{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 94vh;
        bottom: 0px;
        width: 100vw;

        clip-path: circle(0% at 100% 0%);

    }

    .arriba{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rosybrown;
        height: 30vh;
    } 
    
    .abajo{
        background-color:white;
        height: 64vh;
    }
    
    .texto-busqueda{
        width: 50%;
        background-color: transparent;
        font-size: 7vw;
        border:0px;
         color: white;
        border-bottom:#CD9F9F solid 4px;
        
    }

    .cierre{
        position: absolute;
        top:10px;
        right: 25px;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

 
    .abrir{
        clip-path: circle(150% at 100% 0%);
    }

}